@model IEnumerable<Caja_Unapec.CARRERA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "CARRERA", "Null", new { @class = "btn btn-primary btn-large" })
</p>
<form method="get">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" id="cmdBuscar" value="Buscar" />
</form>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCarrera }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCarrera }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCarrera })
        </td>
    </tr>
}

</table>
