@model IEnumerable<Caja_Unapec.TANDA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "TANDA", "Null", new { @class = "btn btn-primary btn-large" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTanda }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTanda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTanda })
        </td>
    </tr>
}

</table>
